@model NVMotors.Web.ViewModels.VechicleAddViewModel

@{
    ViewData["Title"] = "Add Vehicle";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">@ViewData["Title"]</h2>

    <form asp-action="Add" method="post">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">Vehicle Details</h5>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="@Model.Make" class="form-label-add-edit">Product Name</label>
                    <input asp-for="@Model.Make" class="form-control" aria-required="true" />
                    <span asp-validation-for="@Model.Make" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Model" class="control-label">Model:</label>
                    <input asp-for="@Model.Model" class="form-control" placeholder="Enter vehicle model" />
                    <span asp-validation-for="@Model.Model" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="@Model.Year">Choose Year:</label>
                    <input type="number" id="@Model.Year" name="Year" min="1900" max="2100" class="form-control" placeholder="Year" required />
                    <span asp-validation-for="@Model.Year" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.HorsePower" class="control-label">Horse Powers:</label>
                    <input asp-for="@Model.HorsePower" type="number" class="form-control" placeholder="Enter horsepower" required />
                    <span asp-validation-for="@Model.HorsePower" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.SelectedTransmissionType" class="control-label">Choose Transmission Type:</label>
                    <select asp-for="@Model.SelectedTransmissionType" asp-items="Model.TransmissionTypes" class="form-control">
                    </select>
                    <span asp-validation-for="@Model.SelectedTransmissionType" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.SelectedFuelType" class="control-label">Choose Fuel Type:</label>
                    <select asp-for="@Model.SelectedFuelType" asp-items="Model.FuelTypes" class="form-control">
                    </select>
                    <span asp-validation-for="@Model.SelectedFuelType" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.SelectedColor" class="control-label">Choose Color:</label>
                    <select asp-for="@Model.SelectedColor" asp-items="Model.Colors" class="form-control">
                    </select>
                    <span asp-validation-for="@Model.SelectedColor" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.SelectedCondition" class="control-label">Choose Condition:</label>
                    <select asp-for="@Model.SelectedCondition" asp-items="Model.Conditions" class="form-control">
                    </select>
                    <span asp-validation-for="@Model.SelectedCondition" class="text-danger"></span>
                </div>

                <div class="mb-2">
                    <input class="btn btn-warning btn-dark-text w-100 py-2 fw-bold rounded" type="submit" value="Save" />
                </div>

            </div>
        </div>
    </form>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}